<div class="panel panel-default">

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Startup Community</a>
  </div>
            <!--                                                                                                                 \
                                                                                                                                  
            <div class="search">              
              <p>Search: <input type="text"></p>                                                                                  
            </div>
           -->
   </div>
 </nav>

<div class="container-fluid">
 </div>
 <div class="row">
  <div class="col-xs-2" style="background:#ffffff; ">
        <ul class="nav nav-tabs nav-stacked">
          <li class ="active"><h3>&nbsp;Search</strong></li>
          <li><a href="#tabU"> Student</a></li>
          <li><a href="#"> Company</a></li>
          <li><a href="#"> University</a></li>
          <li><%= link_to "Job", jobdemands_searchtop_path %></li>
          <li><a href="#"> Scholarship</a></li>
        </ul>
  </div>
  <div class="col-xs-10" style="background:#FFFFFF;">
    <%= yield %>
  </div>
 </div>

</body>
