<head>
</head>
<body>
<div class="container-fluid">
 </div>
<div class="row">
 <div class="col-xs-2" style="background:#ffffff;">
      
 </div>
 <div class="col-xs-10" style="background:#FFFFFF;">      
    <%= yield %>
  </div>
</div>
</body>
