<h1>List ot JobDemand</h1>
<p>Company-name</p>
<table border="1">
 <tr>
  <th>No.</th>
  <th>Title</th>
  <th>Overview</th>
 </tr>
 <% @jobdemand.each.with_index(1)do|set,i| %>
  <tr>
  <th><%= "#{i}" %></th>
  <th><%= set.title %></th>
  <th><%= set.overview %></th>
 </tr>
 <% end %>
</table>
