<%= render layout: 'shared/search_box' do %>

<h3 >Job</strong></h3>

  <div class="form-group">
   <div class="col-xs-8">
    <label class="control-label" for="">TITLE</label>
      <%= f.text_field :title, class: 'form-control'  %>
   </div>
  </div>

  <div class="form-group">
   <div class="col-xs-8"> 
   <label class="control-label" for="">OVERVIEW</label>
      <%= f.text_field :overview, class: 'form-control'  %>
   </div>
  </div>

  <div class="form-group">
  <div class="col-xs-8">
    <label class="control-label" for="">COMPANY</label>
      <%= f.text_field :name, class: 'form-control'  %>
  </div>
  </div>

  <button class="btn btn-default btn-left" type="reset"> CLEAR </button>
  <button class="btn btn-default btn-primary" type="submit"><i class="fa fa-search"></i> SEARCH</button>

<% end %>
