<%= render layout: 'shared/search_box' do %>

  <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Startup Community</a>
  </div>
            <!--                                                                                                                                                                           
            <div class="search">                                                                                                                                                           
              <p>Search: <input type="text"></p>                                                                                                                                           
            </div>                                                                                                                                                                         
            -->
   </div>
 </nav>

<body leftmargin="30" rightmargin="30">
<div class="co-sm-12 row-fluid text-center">
  <div class="form-group">
    <label class="col-sm-4 control-label" for="">TITLE</label>
    <div class="col-sm-4">
      <%= f.text_field :title, class: 'form-control'  %>
    </div>
  </div>
 
  <div class="form-group">
    <label class="col-sm-4 control-label" for="">OVERVIEW</label>
    <div class="col-sm-4">
      <%= f.text_field :overview, class: 'form-control'  %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-4 control-label" for="">COMPANY</label>
    <div class="col-sm-4">
      <%= f.text_field :name, class: 'form-control'  %>
  </div>
</div>

<div class="col-sm-12 row text-center">
  <button class="btn btn-default btn-left" type="reset"> CLEAR </button>
  <button class="btn btn-default btn-primary" type="submit"><i class="fa fa-search"></i> SEARCH</button>
</div>

</div>

</div>
</body>

<% end %>
