// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100);

$roboto: 'Roboto', sans-serif;
$fwNormal: 400;
$fwLight: 300;
$fwThin: 100;

$blue: #09f;
$dark: #272727;
$transDark: rgba(0,0,0,0.2);
$white: #FFF;

$screen-size: 1200px;

@mixin rows($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: $margin;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding-top: 25px;
  width: 100%;
  height: 100%;
}

body {
  background-color: #272727;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  
  background: url("https://wallpaperscraft.com/image/mountains_winter_snow_trees_105844_2048x1364.jpg") center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  filter: blur(15px);
}

#centerWrapper {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 85%;
  height: 100%;
}

#wrapper {
  display: block;
  position: absolute;
  top: 5%;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90%;
  
  background-color: #efefef;
  
  header {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    
    #cover {
      position: absolute;
      top: 0;
      height: 100%;
      overflow: hidden;
      
      img {
        width: 100%;
      }
    }
    
    #coverlay {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); 
      background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
      background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
    }
    
    #pbWrapper {
      display: inline-block;
      position: relative;
      top: 0;
      margin-left: calc(-130px / 2);
      width: 130px;
      height: 130px;
      
      background-color: #ccc;
      border: 4px solid #fff;
      border-radius: 50%;
      
      img {
        display: block;
        width: 100%;
        border-radius: 50%;
      }
    }
    
    #info {
      display: inline-block;
      position: relative;
      margin-top: 20px;
      margin-left: 16px;
      vertical-align: top;
      
      color: $white;
      font-family: $roboto;
      font-size: 16px;
      font-weight: $fwLight;
      text-decoration: none;
      
      hr {
        border-top: none;
      }
      
      #pName {
        display: block;
        font-size: 24px;
      }
    }
  }
  
  #pageNav {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
    
    background-color: $dark;
    
    ul {
      margin: 0;
      padding: 0;
    }
    
    .dropDown ul {
      display: none;
      margin-bottom: 8px;
      height: 0;
      background-color: $transDark;
    }
    
    .dropDown .active {
      display: inline-block;
      position: relative;
      width: 100%;
    }
    
    ul li {
      display: block;
      list-style: none;
    }
    
    ul li a {
      display: block;
      padding: 16px 10px 16px 10px;
      
      color: #fff;
      font-family: $roboto;
      font-size: 16px;
      font-weight: $fwLight;
      text-decoration: none;
    }
    
    ul li a:hover {
      background-color: $transDark;
    }
    
    ul li a:first-child span {
      position: relative;
      top: 10px;
      margin-left: 5px;
      margin-right: 15px;
      vertical-align: top;
    }
    
    #uNav {
      display: block;
      position: relative;
      margin-top: 8px;
      margin-bottom: 8px;
      
      span::after {
        content: "▼";
        display: block;
        position: absolute;
        top: 0;
        right: -10px;
        width: 10px;
        height: 10px; 
      }
      
      &.active {
        background-color: $transDark;
      }
      
      &.active span::after {
        content: "▲";
        display: block;
        position: absolute;
        top: 0;
        right: -10px;
        width: 10px;
        height: 10px;
      }
    }
    
    #pbNav {
      display: inline-block;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }
  
  main {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    width: calc(100% - 190px);
    height: 100%;
        
    #RssDisp {
      overflow:auto;
      width:400px;
      height:100px;
      background-color: $white;
    } 
    #mainNav {
      display: block;
      position: relative;
      top: 8px;
      left: 0;
      margin: 0;
      padding: 0;
      
      text-align: center;
      
      ul {
        margin: 0;
        padding: 0;
      }
      
      ul li {
        display: inline-block;
        list-style: none;
      }
      
      li.active a {
        border-bottom: 2px solid $blue;
      }
      
      ul li a {
        display: block;
        padding: 16px;
        
        color: $dark;
        font-family: $roboto;
        font-size: 16px;
        font-weight: $fwNormal;
        text-decoration: none;
        
        &:hover {
          border-bottom: 2px solid $blue;
        }
      }
    }
    
    article {
      display: block;
      position: relative;
      margin-top: 30px;
      text-align: left;
      
      section {
        width: 400px;
        float: left;
        display: inline-block;
        position: relative;
        padding: 10px;
        vertical-align: top;
        
        color: $dark;
        font-family: $roboto;
        font-size: 16px;
        text-align: left;
        
        background-color: $white;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
        
        @include rows(3, 3%);
        
        dt {
          width: 400px; 
        }
        dd {
          width: 400px; 
        }
        h2 {
          width: 400px; 
          height: 50px; 
          margin: 0;
          padding: 0;
          
          font-size: 24px;
          font-weight: $fwLight;
        }
      }
      
    }
  }
}

textarea{
  width: 450px;
  height: 80px;
}
























